{% extends "base.html.twig" %}

{% block main %}
<h1>Create Film</h1>
<section>
    <form method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="film[name]" required="required"/>
            <label for="genre">Genre</label>
            <input type="text" id="genre" name="film[genre]" required="required"/>
            <label for="director">Director</label>
            <input type="text" id="director" name="film[director]" required="required"/>
            <label for="year">Year</label>
            <input type="number" id="year" name="film[year]" required="required"/>

            {{ form_row(form._token) }}

            <button type="submit" class="accept">Create</button>
            <button type="button" onclick="location.href='/'" class="cancel">Cancel</button>
        </div>
    </form>
</section>
{% endblock %}